![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2560px-Pandas_logo.svg.png)

# pandas Tutorial

## Content:
1. [Introduction to pandas](#introduction_to_pandas)
2. [The Basics of pandas](#basics_of_pandas)
3. [pandas Series](#pandas_series)
    * [Creating Series](#creating_series)
    * [Accessing Series](#accessing_series)
4. [pandas Dataframes](#pandas_dataframe)
    * [Creating Dataframes](#creating_dataframe)
    * [Accessing Dataframes](#accessing_dataframe)
    * [Modifying Dataframes](#modifying_dataframe)
        * [Adding Row](#adding_row)
        * [Modifying Row](#modifying_row)
        * [Adding Column](#adding_column)
        * [Deleting Columns](#deleting_column)
        * [Deleting Rows](#deleting_row)
    * [Sorting Dataframes](#sorting_dataframe)
    * [Filtering Data](#filtering_data)
5. [Reading and Writing CSV Files](#reading_writing_csv)
    * [Reading CSV File](#reading_csv)
    * [Writing CSV File](#writing_csv)
6. [Cleaning Empty Cells](#cleaning_empty_cells)
7. [Cleaning Data of Wrong Format](#cleaning_data_wrong_format)
8. [Cleaning Wrong Data](#cleaning_wrong_data)
9. [Removing Duplicates](#removing_duplicates)
10. [Group By](#group_by)
10. [pandas Ploting](#pandas_ploting) 
11. [References](#references)

<a id="introduction_to_pandas"></a> <br>
# Introduction to Pandas
Pandas is anpen-source BSD-licensed library built on top of NumPy and Python that provides high-performance easy-to-use data structures and data analysis tools.

Pandas has been one of the most commonly used tools for Data Science and Machine learning requires, which is used for data cleaning and analysis. Here, Pandas is the best tool for handling this real-world messy data. 

### Features of Pandas
* Provides tools for loading data from different file formats into in-memory data objects.
* Represents the data in tabular form.
* Label-based Slicing, Indexing, and Subsetting can be performed on large datasets.
* Merges and joins two datasets easily.
* Pivoting and reshaping data sets.
* Easy handling of missing data (represented as NaN) in both floating point and non-floating point data.
* Size mutability: DataFrame and higher-dimensional object columns can be added and deleted.
* Provides multiple features of time-series.

<a id="basics_of_pandas"></a> <br>
# The Basics to Pandas

Pandas pacage can be imported as below:

In [ ]:
import pandas as pd   # import Pandas
import numpy as np    # import NumPy

***NumPy*** and ***Pandas*** go hand-in-hand, as much of pandas is built on NumPy. It is, therefore, very convenient to import NumPy and put it in a ***np*** namespace. Likewise, pandas is imported and referenced with a ***pd***.

<a id="primary_pandas_objects"></a> <br>
### Primary pandas objects

Pandas framework provides two primary objects 
* ***Series***
* ***DataFrame***


<a id="pandas_series"></a> <br>
# pandas Series
The base data structure of pandas is the Series object, which is designed to operate
similar to a NumPy array but also adds index capabilities.

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively  referred to as the index. 

<a id="creating_series"></a> <br>
## Creating Series
The basic method to create a Series is to call:

> ***s = pandas.Series(data=None, index=None, dtype=None, name=None, copy=None, fastpath=False)***

Here, *data* can be many different things:
* an ndarray
* a Python dict
* a scalar value (like 5)

#### From ndarray

In [ ]:
# creating series from Python array
s = pd.Series([1, 2, 3, 4])
print(s)

If data is an ndarray, index must be the same length as data. If no index is passed, one will be created having values [0, ..., len(data) - 1].

In [ ]:
# creating series from ndarray of random numbers
s = pd.Series(np.random.randn(5))
print(s)

In [ ]:
# generating series from ndarray of random numbers with string indices
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
print(s)

#### From Dictionary

In [ ]:
# creating series from a dictionary
d = {"b": 1, "a": 0, "c": 2}
s = pd.Series(d)
print(s)

In [ ]:
d = {"a": 0.0, "b": 1.0, "c": 2.0}
s = pd.Series(d, index=["b", "c", "d", "a"])
print(s)

Here for index *d* it will assign *NaN* as there is no value assigned to the key *d*.

#### From Scalar Values

In [ ]:
s = pd.Series(5.0, index=["a", "b", "c", "d", "e"])
print(s)

<a id="accessing_series"></a> <br>
## Accessing Series
Series acts very similarly to a ndarray, and is a valid argument to most NumPy functions.

In [ ]:
s = pd.Series(np.random.randn(7), index=["a", "b", "c", "d", "e", "f", "g"])    # string Index
#s = pd.Series(np.random.randn(10))             # Integer index
print("Series s:\n", s)

print("\ns[0]: ", s[0]) 
print("\ns['a']: ", s['a'])

Aother way of accessing element in pandas:

In [ ]:
s.loc["b"]

However, operations such as slicing will also slice the index.

In [ ]:
print("s[:3]: ", s[:3])

In [ ]:
print("s[[6, 4, 1]]: \n", s[[6, 4, 1]])

To get series as NumPy array.

In [ ]:
v = s.values
print("v: ", v)

### Mathematical operations

In [ ]:
s = pd.Series([10, 20, 30, 40, 50])

print("Sum: ", s.sum())                   # Sum of all elements
print("Mean: ", s.mean())                 # Mean of all elements
print("Max: ", s.max())                   # Maximum value in the series
print("Standar Deviation: ", s.std())     # Standard deviation of elements

<a id="pandas_dataframe"></a> <br>
# pandas Dataframe
pandas Dataframe is generally the most commonly used pandas object. Dataframe is a 2-dimensional structure & can be compared to a table of rows and columns with columns of potentially different types..

Each row can be identified by an integer index (0..N) or a label explicitly set when creating a DataFrame object. Each column can be of distinct type and is identified by a label.

<a id="creating_dataframe"></a> <br>
## Creating pandas Dataframe
The basic method to create a Dataframe is to call:
> ***s = pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)***

DataFrame accepts many different kinds of input:
* Dict of 1D ndarrays, lists, dicts, or Series
* 2-D numpy.ndarray
* Structured or record ndarray
* A Series
* Another DataFrame

Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments. If you pass an index and / or columns, you are guaranteeing the index and / or columns of the resulting DataFrame.
### From Dictionary

In [ ]:
df = pd.DataFrame({'numbers': [1, 2, 3], 'colors': ['red', 'white', 'blue']})
print("df:\n", df)

### From dict of Series or dicts

In [ ]:
d = {"one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"])}

df = pd.DataFrame(d)
print("df:\n", df)

When a particular set of columns is passed along with a dict of data, the passed columns override the keys in the dict.

### From ndarrays/lists

In [ ]:
d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}

df = pd.DataFrame(d)
print("df:\n", df)

* The ndarrays must all be the same length. If an index is passed, it must clearly also be the same length as the arrays. 
* If no index is passed, the result will be range(n), where n is the array length.

In [ ]:
d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}

df = pd.DataFrame(d, index=["a", "b", "c", "d"])
print("df:\n", df)

In [ ]:
np.random.seed(9)                 # Set the seed for a reproducible sample

df = pd.DataFrame(np.random.rand(5,3), columns=list('ABC'))
print("df:\n", df)

#### From structured or record array

In [ ]:
data = np.zeros((2,), dtype=[("A", "i4"), ("B", "f4"), ("C", "a10")])
data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]
df = pd.DataFrame(data)
print("df:\n", df)

### From a list of dicts

In [ ]:
data = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]
df = pd.DataFrame(data)
print("df:\n", df)

### From a Series
The result will be a DataFrame with the same index as the input Series, and with one column whose name is the original
name of the Series (only if no other column name provided).

In [ ]:
s = pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"])
df = pd.DataFrame(s)
print("df:\n", df)

In [ ]:
s = pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"])
df = pd.DataFrame(s, columns=["c1"])
print("df:\n", df)

### From Another Dataframe

In [ ]:
df1 = df                    # Assign dataframe into another dataframe
print("df1:\n", df1)

In [ ]:
df2 = df.copy()             # copy object into another dataframe
print("df2:\n", df2)

<a id="accessing_dataframe"></a> <br>
## Accessing pandas Dataframe
We can access data of DataFrames in many ways,
* Values
* Columns
* Rows

### Accssing using Values
####  By using row name and row index number
Using the row name and row index number along with the column, we can easily access a single value of a DataFrame.

In [ ]:
d = {'EmpId' : ['E01','E02','E03','E04'],    
       'EmpName' : ['Raj','Atul','Reena','Ayushi'],    
       'Department' : ['IT','IT','HR','Accounts']}    
df = pd.DataFrame(d, index=['First','Second','Third','Fourth'])
print("df:\n", df)

print()
print(df.EmpName['Third'])   ##Access using row name    
print()
print(df.Department[2])        ## Access using row index

#### By using at and iat attributes
We can also access a single value of a DataFrame with the help of “at” and “iat” attributes.

* *at*
    * Access a single value for a row/column pair by label.

* *iat*
    * Access a single value for a row/column pair by integer position.

In [ ]:
print(df.at['Second','EmpName'])
print()
print(df.iat[2,2])

#### Accessing Single Column

In [ ]:
print(df['EmpName'])
print()
print(df.EmpName)

#### Accessing Multiple Columns

In [ ]:
print(df[['EmpName','Department']] )

### Accessing Rows

#### By using loc and iloc
We can access a single row and multiple rows of a DataFrame with the help of “loc” and “iloc”

* *loc*
    * Access group of values using labels.
* *iloc*
    * Access group of rows and columns by integer position(s).

In [ ]:
print(df.loc[['Second']])   # Access row using location, pass row name  
print()
print(df.iloc[[2]])         # Access row using row index number

#### Different forms of “loc” and “iloc”

In [ ]:
# Fetching all rows and columns from dataframe
df.loc[:]

In [ ]:
# Fetching all row starting from ‘First’ and fetching all columns.
print(df.loc['First' : , :])
print()
print(df.iloc[ 0 : , : ])

In [ ]:
# Fetching rows starting from ‘First’ till the ‘Third’ with all columns.
print(df.loc [:'Third', :])
print()
print(df.iloc [:3, :])

In [ ]:
# Fetching row starting from ‘Second’ and end to ‘Third’ with all columns.
print(df.loc['Second':'Third', :])
print()
print(df.iloc [1:3, :])

In [ ]:
# Fetching all rows with ‘EmpName’ column to end column.
print(df.loc [:, 'EmpName': ])
print()
print(df.iloc [:, 1:])

In [ ]:
#Fetching all rows till column EmpName.
print(df.loc [:, :'EmpName'])
print()
print(df.iloc [:, :2])

In [ ]:
#Fetching rows starting with ‘Second’ till ‘Third’ and columns from ‘EmpName’ till ‘Department’
print(df.loc['Second':'Third', 'EmpName':'Department'])
print()
print(df.iloc[1:3, 1:3])

<a id="modifying_dataframe"></a> <br>
## Modifying Dataframe


<a id="adding_row"></a> <br>
### Adding a Row
 
#### using loc
* “loc” attribute is also used to add a new row in DataFrame.

In [ ]:
df.loc['Fifth', : ] = ['E05', 'Nakul', 'HR']
print(df)

In [ ]:
df.loc['Sixth']=['E06', 'Rahul', 'Accounts']
print(df)

In [ ]:
df.loc['Seventh','EmpName':'Department'] = ['Vipul', 'IT'] 
print(df)

If we don’t pass the column value then it automatically takes ‘NaN’. Like in the above example we don't pass EmpId for Seventh row, then it takes it as NaN.

<a id="modifying_row"></a> <br>
### Modifying a Row

In [ ]:
df.EmpId['Seventh'] = 'E07'
print(df)

<a id="adding_column"></a> <br>
### Adding a column
* It is very easy to add a column into an existing DataFrame. We can use the below syntax for adding a column into DataFrame.

In [ ]:
df['City'] = 'New Delhi'
print(df)

<a id="deleting_column"></a> <br>
### Deleting Columns
* Del is used to delete a column from DataFrame.

In [ ]:
del df['City']
print(df)

Another way to delete column is using drop():
> ***DataFrame.drop(labels=None, *, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')***
* Drop specified labels from rows or columns.
* Remove rows or columns by specifying label names and corresponding axis, or by specifying directly index or column names.

***Note:*** drop function drops columns and rows but it does not update original dataframe. It returns updated dataframe as return value.

In [ ]:
df['City'] = 'New Delhi'   # Add city column
print(df, "\n")

df_new = df.drop(columns=['City'])
print(df_new)

<a id="deleting_row"></a> <br>
### Deleting rows
* drop() is used to delete rows from DataFrame.

In [ ]:
df_new = df.drop(['Third', 'Fifth'])
print(df_new)

<a id="sorting_dataframe"></a> <br>

## Sorting Dataframes
* We can use *sort_values* function to sort pandas dataframe.

> ***DataFrame.sort_values(by, *, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)***

* *by*: 
    * str or list of str
    * Name or list of names to sort by.
    * if axis is 0 or ‘index’ then by may contain index levels and/or column labels.
    * if axis is 1 or ‘columns’ then by may contain column levels and/or index labels.

* *axis*: 
    * “{0 or ‘index’, 1 or ‘columns’}”, default 0
    * Axis to be sorted.

* *ascending*: 
    * bool or list of bool, default True
    * Sort ascending vs. descending. Specify list for multiple sort orders. If this is a list of bools, must match the length of the by.

In [ ]:
df_new=df.sort_values(by=['EmpName'], ascending=False) # can specify multiple columns in a list as well.
print(df_new)

In [ ]:
df_new=df.sort_values(by=['Seventh'], axis=1, ascending=True) # can specify multiple columns in a list as well.
print(df_new)

<a id="filtering_data"></a> <br>
# Filtering Data

In [ ]:
df_new=df[df.Department=="IT"]
print(df_new)

<a id="reading_writing_csv"></a> <br>
# Reading and Writing CSV Files


<a id="reading_csv"></a> <br>
## Reading CSV File
We can use read_csv() to read a comma-separated values (csv) file into DataFrame.

> ***pandas.read_csv(filepath_or_buffer, *, sep=_NoDefault.no_default, delimiter=None, ...)***
* *filepath_or_bufferstr*:
    * path object or file-like object
    * Any valid string path is acceptable. 
* *sep*:
    * str, default ‘,’
    * Character or regex pattern to treat as the delimiter. 
* *delimiter*:
    * Alias for sep.

In [ ]:
df=pd.read_csv(r'../input/titanic/train.csv')

# Get first five rows
df.head()

In [ ]:
# Get first five rows
df.tail()

In [ ]:
# Get shape of the dataframe
df.shape

In [ ]:
# Get list of all the columns
df.columns

In [ ]:
# Get rows index
df.index

In [ ]:
# General information about dataset
df.info()

In [ ]:
# General description of dataset.
df.describe()

We cab use read_excel() to read data from Excel file.

In [ ]:
#df = pd.read_excel('data.xlsx')

<a id="writing_csv"></a> <br>
## Writing CSV File
We can use to_csv() to save dataframe into CSV file and to_excel() to save dataframe into Excel file.

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('/kaggle/working/dataset.csv', index=False, sep="\t")

# Save the DataFrame as an Excel file
df.to_excel('/kaggle/working/dataset.xlsx', index=False)

<a id="cleaning_empty_cells"></a> <br>
# Cleaning Empty Cells
* pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [ ]:
# Read Titanic Datasset
df=pd.read_csv(r'../input/titanic/train.csv')
df

We can use dropna() to drop all the rows having NaN (not a number) data.

In [ ]:
df_new = df.dropna()   # Drop rows with missing values
df_new

In [ ]:
df_new = df.dropna(axis=1)   # Drop rows with missing values
df_new

We can use fillna() to fill all the cells having NaN value with 0.

In [ ]:
df_new = df.fillna(0)  # Fill missing values with 0
df_new

We can use any other value to fill in place of NaN.

In [ ]:
df_new = df.fillna(value=7)  # Fill missing values with 0
df_new

isna() and isnull() is used to get the boolean mask where values are nan.
* Returns True if value is NaN otherwise False.
* isna() is used with pandas Dataframe object and isnull() is used with pandas series object.

In [ ]:

df.isna()

> DataFrame.any(*, axis=0, bool_only=False, skipna=True, **kwargs)
* Return whether any element is True, potentially over an axis.
* Returns False unless there is at least one element within a series or along a Dataframe axis that is True or equivalent (e.g. non-zero or non-empty).

Parameters
* axis:
    * {0 or ‘index’, 1 or ‘columns’, None}, default 0
    * Indicate which axis or axes should be reduced. For Series this parameter is unused and defaults to 0.
    * 0 / ‘index’ : reduce the index, return a Series whose index is the original column labels.
    * 1 / ‘columns’ : reduce the columns, return a Series whose index is the original index.
    * None : reduce all axes, return a scalar.

* bool_only:
    * bool, default False
    * Include only boolean columns. Not implemented for Series.
* skipna
    * bool, default True
    * Exclude NA/null values. If the entire row/column is NA and skipna is True, then the result will be False, as for an empty row/column. If skipna is False, then NA are treated as True, because these are not equal to zero.

In [ ]:
# Get column which contains nan value
value = df.isna().values.any(axis=0)
print(value)

print(df.columns[value])

In [ ]:
# Get rows which contains nan value
value = df.isna().values.any(axis=1)

print(df.index[value])

<a id="cleaning_data_wrong_format"></a> <br>
# Cleaning Data of Wrong Format

In [ ]:
df = pd.read_csv('../input/wrong-data/wrong_data.csv')
#print(df)

df['Date'] = pd.to_datetime(df['Date'])
#print(df.to_string())

df.dropna(subset=['Date'], inplace=True)
print(df)

***Note:*** The (inplace = True) will make sure that the method does NOT return a new DataFrame, but it will update the original DataFrame.

<a id="cleaning_wrong_data"></a> <br>
# Cleaning Wrong Data
* "Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".
* Sometimes you can spot wrong data by looking at the data set, because you have an expectation of what it should be.


* If you take a look at our data set, you can see that in row 7, the duration is 450, but for all the other rows the duration is between 30 and 60.
* It doesn't have to be wrong, but taking in consideration that this is the data set of someone's workout sessions, we conclude with the fact that this person did not work out in 450 minutes.

In [ ]:
df = pd.read_csv('../input/wrong-data/wrong_data.csv')
print(df)

How can we fix wrong values, like the one for "Duration" in row 7?
* Replacing Values
* Removing Rows

### Replacing Values
* One way to fix wrong values is to replace them with something else.
* In our example, it is most likely a typo, and the value should be "45" instead of "450", and we could just insert "45" in row 7:

In [ ]:
df = pd.read_csv('../input/wrong-data/wrong_data.csv')
#print(df)

df.loc[7, 'Duration'] = 45
print(df)

* To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries.

In [ ]:
df = pd.read_csv('../input/wrong-data/wrong_data.csv')
#print(df)

for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.loc[x, "Duration"] = 120
print(df)

### Removing Rows
* Another way of handling wrong data is to remove the rows that contains wrong data.
* This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses.

In [ ]:
df = pd.read_csv('../input/wrong-data/wrong_data.csv')
#print(df)

for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.drop(x, inplace = True)
print(df)

<a id="removing_duplicates"></a> <br>
# Removing Duplicates
* Duplicate rows are rows that have been registered more than one time.
* By taking a look at our test data set, we can assume that row 11 and 12 are duplicates.

In [ ]:
df = pd.read_csv('../input/wrong-data/wrong_data.csv')
print(df)

The duplicated() method returns a Boolean values for each row:

In [ ]:
print(df.duplicated())

To remove duplicates, use the drop_duplicates() method.

In [ ]:
df.drop_duplicates(inplace = True)
print(df)

<a id="group_by"></a> <br>
# Group By

In [ ]:
# Read Titanic Datasset
df=pd.read_csv(r'../input/titanic/train.csv')
df

In [ ]:
# group rows of the dataset based on Pclass
groups=df.groupby(['Pclass'])

groups.get_group(1) # Give some another no say 2 or 3 for its Pclass.

In [ ]:
#Average Age per Pclass
groups['Age'].mean()

In [ ]:
# Min age per Pclass
groups['Age'].min()

In [ ]:
# Max age per Pclass
groups['Age'].max()

In [ ]:
groups['Age'].count()

<a id="references"></a> <br>
# References
* https://pandas.pydata.org/docs/user_guide/index.html
* https://pandas.pydata.org/docs/reference/index.html
* https://www.w3schools.com/python/pandas